@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;700&family=Rubik+Burned&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar
{
	width: 10px;
	background-color: #0f0f0fbb;
}
::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

body {
  scroll-behavior: smooth;
  height: 200vh;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden;
  font-family: 'DynaPuff','Rubik Burned','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
  -webkit-user-drag: none;
}
